# 기초상품 추천 코드 구현해보기
주어진 데이터를 활용하여 유저 아이디와 원하는 제품 유형을 입력하면   
해당 유저와 유사도가 높은 유저의 평점 높은 제품을 추천해주는 함수 만들기

* 유저데이터 파일명 : user_data
* 제품데이터 파일명 : product_data

In [1]:
import pandas as pd

#유저데이터 불러오기
u_data = pd.read_csv('user_data.csv')

#제품데이터 불러오기
p_data = pd.read_csv('product_data.csv')

In [13]:
u_data.head()

   user_id  rating  product_id skin
0        1       1          20  민감성
1        1       5           5  민감성
2        1       2           3  민감성
3        1       4          34  민감성
4        1       2          18  민감성

In [12]:
p_data.head()

,product_id,product_name,product_type,target_skin_type,ingredient,Unnamed: 5,Unnamed: 6
0,1.0,ample_1,앰플,복합성,"정제수, 프로판다이올, 펜틸렌글라이콜, 글리세린, 1,2-헥산다이올, 판테놀, 참마...",NaN,NaN
1,2.0,ample_2,앰플,건성,"소나무잎추출물(792,555ppm), 부틸렌글라이콜, 다이프로필렌글라이콜, 글리세레...",NaN,NaN
2,3.0,lotion_1,로션,복합성,"정제수, 프로판다이올, 하이드로제네이티드폴리데센, 스쿠알란, 폴리글리세릴-3다이스테...",NaN,NaN
3,4.0,cream_1,크림,지성,"정제수, 글리세린, 부틸렌글라이콜, 다이카프릴릴에터, 나이아신아마이드, 1,2-헥산...",NaN,NaN
4,5.0,cream_2,크림,민감성,정제수 다이카프릴릴에터 판테놀 글리세린 펜틸렌글라이콜 폴리글리세릴-6다이스테아레이트...,NaN,NaN

In [14]:
p_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        60 non-null     float64
 1   product_name      60 non-null     object
 2   product_type      60 non-null     object
 3   target_skin_type  60 non-null     object
 4   ingredient        60 non-null     object
 5   Unnamed: 5        0 non-null      float64
 6   Unnamed: 6        0 non-null      float64
dtypes: float64(3), object(4)
memory usage: 3.7+ KB

In [11]:
#product_id 기준으로 유저,제품 데이터 합쳐서 df에 저장하고 user_id를 기준으로 오름차순 정렬
df = pd.merge(u_data, p_data, on='product_id')
df.set_index('user_id', inplace=True)
df.head()

,rating,product_id,skin,product_name,product_type,target_skin_type,ingredient,Unnamed: 5,Unnamed: 6
user_id,,,,,,,,,
1,1,20,민감성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...,NaN,NaN
3,2,20,민감성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...,NaN,NaN
4,2,20,건성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...,NaN,NaN
6,2,20,지성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...,NaN,NaN
7,4,20,복합성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...,NaN,NaN

In [24]:
df = df.drop(['Unnamed: 5', 'Unnamed: 6'], axis=1)
df.head()

,rating,product_id,skin,product_name,product_type,target_skin_type,ingredient
user_id,,,,,,,
1,1,20,민감성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...
3,2,20,민감성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...
4,2,20,건성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...
6,2,20,지성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...
7,4,20,복합성,serum_2,세럼,지성,정제수 변성알코올 글리세린 프로판다이올 나이아신아마이드 락틱애씨드 하이드록시에틸피페...

In [25]:
#각 유저가 제품에 남긴 평점들로 이루어진 데이터 프레임(df_users) 만들기 인덱스:user_id, 컬럼명:product_id
df_users= df.copy().pivot_table('rating', index='user_id', columns='product_id')
df_users.fillna(0, inplace=True)
df_users.head()

product_id,1,2,3,4,5,6,7,8,9,10,...,51,52,53,54,55,56,57,58,59,60
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,2.0,0.0,5.0,0.0,2.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
2,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,2.0,0.0,0.0,4.0,3.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
#유저간 유사도 계산
from sklearn.metrics.pairwise import cosine_similarity
cos_matrix = cosine_similarity(df_users.values, df_users.values)
cos_matrix

array([[1.        , 0.37756255, 0.11836501, ..., 0.30848211, 0.30876888,
        0.33248992],
       [0.37756255, 1.        , 0.10316111, ..., 0.22016375, 0.30076748,
        0.11435019],
       [0.11836501, 0.10316111, 1.        , ..., 0.3901178 , 0.2384219 ,
        0.27498715],
       ...,
       [0.30848211, 0.22016375, 0.3901178 , ..., 1.        , 0.09955444,
        0.40333349],
       [0.30876888, 0.30076748, 0.2384219 , ..., 0.09955444, 1.        ,
        0.23491702],
       [0.33248992, 0.11435019, 0.27498715, ..., 0.40333349, 0.23491702,
        1.        ]])

In [27]:
#위에서 계산한 cos_matrix를 데이터프레임으로 만듭니다. 
df_users_cosine= pd.DataFrame(data=cos_matrix, index=df_users.index, columns=df_users.index)
df_users_cosine.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.377563,0.118365,0.195347,0.465273,0.350255,0.369234,0.382708,0.209271,0.388365,...,0.434633,0.327872,0.595550,0.253139,0.292668,0.306267,0.256333,0.308482,0.308769,0.332490
2,0.377563,1.000000,0.103161,0.106745,0.226767,0.327382,0.163269,0.323855,0.210206,0.190810,...,0.244048,0.212365,0.221078,0.246255,0.231953,0.218187,0.195578,0.220164,0.300767,0.114350
3,0.118365,0.103161,1.000000,0.328517,0.265719,0.423921,0.313412,0.399815,0.202431,0.194410,...,0.362167,0.376298,0.201629,0.211564,0.175430,0.439941,0.336052,0.390118,0.238422,0.274987
4,0.195347,0.106745,0.328517,1.000000,0.306010,0.280929,0.385025,0.287416,0.299863,0.477361,...,0.165149,0.281387,0.224007,0.263200,0.185619,0.296223,0.209036,0.376882,0.164470,0.357317
5,0.465273,0.226767,0.265719,0.306010,1.000000,0.209787,0.217964,0.221134,0.097609,0.239447,...,0.267159,0.319854,0.243056,0.183303,0.338358,0.361589,0.202548,0.051116,0.259230,0.302407

## 입력한 아이디의 유저와 비슷한 유저가 만족한 제품 추천하는 함수 만들기
1. df_users_cosine에서 입력한 아이디와 유사도 높은 5명을 sim_users로 지정
2. df에서 user_id가 sim_users의 인덱스와 일치하는 값들을 sim_user_df에 할당
3. sim_user_df에서 입력한 product_type과 일치하는 값들을 지정하고 rating을 기준으로 내림차순한 결과를 products에 할당
4. products에서 rating 4점 이상인 값들만 다시 products에 할당
5. products에서 product_name이 중복인 것은 첫번째 값만 남김
6. products의 product_name을 데이터 프레임 result로 만듦 (컬럼명은 나와 비슷한 사용자가 만족한(입력한 제품타입)제품)
7. 함수 마지막에 print(result) 출력

In [88]:
def user_based_recommend(user_id, product_type):
    sim_users = df_users_cosine.loc[user_id].sort_values(ascending=False).index[1:6].tolist() # 1번
    
    sim_user_df = df.loc[sim_users] # 2번
    
    products = sim_user_df[sim_user_df['product_type'] == product_type].sort_values('rating', ascending=False) # 3번
    products = products[products['rating'] >= 4] # 4번
    
    products = products.drop_duplicates(subset='product_name', keep='first') # 5번
    
    result = products[['product_name']].rename(columns={'product_name': f'나와 비슷한 사용자가 만족한 {product_type} 제품'})
    
    print(result)

In [89]:
user_based_recommend(2, '로션')

        나와 비슷한 사용자가 만족한 로션 제품
user_id
61                   lotion_6
15                   lotion_3
55                  lotion_10
73                   lotion_5
73                   lotion_4
30                   lotion_8